/* CMPT 315 ASSIGNMENT #1 
    Nancy Dinh */

/* this pertains to everything */
*{
    margin: 0;
    padding: 0;
}


body {
    background-image: url('bg.jpeg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
 
  }
  
.container{
    width:auto;
    margin: auto;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height:0%;
    align-items: center;
    column-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    
}

.sects{


    /* margin-top: 20px; */
    position: sticky ;
    text-align: center;
    z-index: 1;
    top: 50px;
    width: 100%;
    
}

body {
    /* background-color: rgb(255, 255, 255); */
    font-family: 'serif';
 
}

h1 {       
    font-size: 40px;
    font-family: 'optima';
    color: rgb(60, 47, 54);
   
}
h2 {       
    font-size: 30px;
    font-family: 'optima';
    color: rgb(60, 47, 54);
    font-weight: bold;
}
h3 {       
    font-size: 22px;
    font-family: 'optima';

    color: rgb(60, 47, 54);
}
p {
    font-size: 20px;
    color: rgb(70, 66, 61);
}

img {
    max-width: 95%;
    max-height:100%;
    display: inline;
    
    
  }

.mainImg{
    border: 5px solid #555;

}



.image:hover img {
    transform: scale(1.05);
}

/* this pertains to the nav bar */

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a:link {
    text-decoration: none;
    color: rgb(46, 46, 46);
}
a:visited {
    color: rgb(46, 46, 46);
}

a:hover {
    color: hotpink;
  }

/* this pertains to the home page */

.content{
    text-align: left;
    
    height: 100%;
    padding-right: 150px;
    margin-right: 0px;
    margin-left: 100px;
    overflow-y: auto;
}

.fixed
{
  float: right;
  
  height: 780px;

}

.about{
    text-align: left;
    color: #3f3a32;
    height: 600px;
    padding: 80px;

}

#socials div{
    max-width: 70px;

    display: inline-block;
    padding: 20px;
    align-items:center;

}

#me div{
    max-width: 70px;

    display: inline-block;
    align-items:center;

}

/* this pertains to the music section 
    it differs from the container as it has three sections
    rather than two.
*/



